@import "tailwindcss";

@theme {
  --color-neon-green: #39ff14;
  --color-neon-blue: #00f3ff;
  --color-dark-base: #0a0a0a;
  --color-dark-card: #141414;
  --color-dark-border: #262626;
}

body {
  background-color: var(--color-dark-base);
  color: #e5e5e5;
}